@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography
1.1 - Headings
1.2 - Body Copy
1.3 - Buttons
1.4 - Forms
1.5 - Tables

2.0 - Navigation Menus
2.1 - Main

3.0 - Content
3.1 - Site Structure
3.2	- Site Header
3.3	- Site Footer

4.0 - Media
4.1 - Sprites
4.2 - Background Images

5.0 - Utility
5.1 - Colors

--------------------------------------------------------------*/

/*--------------------------------------------------------------

1.0 - Typography

-------------------------------------------------------------- */
/* 1.1 Headings */
h1, #heading{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	
}
h1{
	width: 615px;
	padding-bottom: 10px;
}
h2, h3, h4, h5, p{
	font-family: helvetica, Arial, sans-serif;
}
h3, .btn a, nav ul li a{
	text-transform: uppercase;
}
h4{
	font-size: 15px;
}
/* 1.2 body copy */
p{
	font-size: 12px;
}
#bg-pink p:first-child, nav ul li, .btn, nav, #products p, table, form, h1, h2, h3 {
	text-align: center;
}
#heading{
	padding: 359px 0 0 196px;
	
}
#contact p{
	text-align: left;
}

/* 1.3 Buttons */
.btn{
	width: 100px;
	padding: 10px;
}
.btn a, #tele, nav ul li a{
	text-decoration: none;
}
/* 1.4 form */
form{
	padding: 10px;
}
textarea{
	margin: 0;
	height: 183px;
	width: 470px;
}
/* 1.5 tables */
table{
	border-collapse: collapse;
}
td, tr{
	padding: 10px;
}
th{
	padding: 12px;
}






/*--------------------------------------------------------------

2.0 - Navigation

-------------------------------------------------------------- */
nav ul li, form{
	display: inline-block;
} 
nav ul li{
	padding-left: 10px;
	
}
nav ul li a{
	color: #432920;
	
}

nav{
	font-family: Helvetica, Arial sans-serif;
	position: fixed;
}
/*--------------------------------------------------------------

3.0 -  Content

-------------------------------------------------------------- */
/* 3.1 Site Structure */
.wrapper, #circle-one, #circle-two, #circle-three, table, input, h1, #col-4 p:last-child, #col-5 p:last-child, #col-6 p:last-child, #contact p:last-child{
	margin: 0 auto;
}
.wrapper{
	width: 1230px;
}

.row{
	overflow: auto;
}

#bg-aqua{
	height: 507px;
}
div[id*="col-"], div [id*="c-"]{
	float: left;
	
}
div [id*="column-"]{
	float: right;
}
#col-2{
	width: 570px;
	margin-left: 10px;
}
#col-4, #col-5, #col-6{
	width: 293px;
}
#col-4, #col-5{
	padding-right: 80px;
}
#col-7, #col-8, #column-1, #column-2{
	width: 270px;
}
#col-9, #col-10{
	width: 470px;
}
#c-1, #c-2, #c-3, #c-4, #c-5, #c-6, #c-7, #c-8, #c-9{
	width: 100px;
}
#col-12, #col-13{
	margin: 10px 155px;
}
#col-11{
	width: 200px;
}
#col-12{
	width: 145px;
}
#col-13{
	width: 232px;
}
#circle-one, #circle-two, #circle-three{
	width: 180px;
	height: 180px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	-ms-border-radius: 100px;
	border-radius: 100px;
}
#bg-aqua{
	padding-top: 30px;
}
#bg-white nav{
	height: 115px;
	width: 1300px;
}
#cherries{
	list-style: url(../img/cherry.png);
	padding-left: 140px;
}
#about, #products, #flavors, #contact{
	padding: 100px;
}

#col-9{
	padding-right: 146px;
}
#contact p:last-child{
	margin-top: 33px;
}
/*--------------------------------------------------------------

4.0 - Media

-------------------------------------------------------------- */
/* 4.1 sprites */
footer ul{
	list-style: none;
}
footer ul span{
	display: none;
}
footer ul li a{
	width: 25px;
	height: 25px;
}
footer ul a, footer ul li{
	display: inline-block;
}
footer ul li a:first-child{
	background: url(../img/fb-icon.png) no-repeat 0 0;
}
footer ul li a:nth-child(2){
	background: url(../img/tumblr.png) no-repeat 0 0;
}
footer ul li a:nth-child(3){
	background: url(../img/pinterest-icon.png) no-repeat 0 0;
}
footer ul li a:nth-child(4){
	background: url(../img/instagram-icon.png) no-repeat 0 0;
}
footer ul li a:last-child{
	background: url(../img/linkedin-icon.png) no-repeat 0 0;
}
	footer ul li a:hover{
		background-position: 0 -25px;
	}
/*4.2 background images */
#bg-aqua{
	background: url(../img/hero.jpg) no-repeat center;
}

#circle-one{
	background: url(../img/product-one.png) no-repeat center;
}
#circle-two{
	background: url(../img/product-two.png) no-repeat center;
}
#circle-three{
	background: url(../img/product-three.png) no-repeat center;
}





/*--------------------------------------------------------------

5.0 - Utility

-------------------------------------------------------------- */
/* 5.1 colors */
#bg-aqua, .btn:hover{
	background-color: #a7e6e0;
}

h1, #heading{
	color: #c92020;
}
#products{
	background-color: #fcbce8;
}
#contact{
	background-color: #26adcf;
}
#contact, #products, .btn a{
	color: #fff;
}
#daily{
	color: #26adcf;
}
.btn{
	background-color: #83c3ae;
}
#tele:hover{
	color: #a7e6e0;
}
#bg-white nav, #circle-one, #circle-two, #circle-three{
	background-color: #fff;
}
#heading p{
	background-color: rgba(255,255,255,0.50);
}