@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography
1.1 - Headings
1.2 - Body Copy
1.3 - Buttons
1.4 - Forms
1.5 - Tables

2.0 - Navigation Menus
2.1 - Main

3.0 - Content
3.1 - Site Structure
3.2	- Site Header
3.3	- Site Footer

4.0 - Media
4.1 - Sprites
4.2 - Background Images

5.0 - Utility
5.1 - Colors

--------------------------------------------------------------*/

/*--------------------------------------------------------------

1.0 - Typography

-------------------------------------------------------------- */
/* 1.1 Headings */
h1, #heading{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	
}
h1, h2, h3{
	text-align: center;
}
h2, h3, h4, h5, p{
	font-family: helvetica, Arial, sans-serif;
}
/* 1.2 body copy */
p{
	font-size: 12px;
}
/* 1.4 form */
textarea{
	margin: 0;
	height: 183px;
	width: 470px;
}









/*--------------------------------------------------------------

2.0 - Navigation

-------------------------------------------------------------- */
nav ul li{
	display: inline;
	padding-left: 10px;
	text-align: center;
}
nav ul li a{
	text-decoration: none;
	color: #432920;
	text-transform: uppercase;
	
}

nav{
	position: fixed;
	background-color: #fff;
	font-family: Helvetica, Arial sans-serif;
}



/*--------------------------------------------------------------

3.0 -  Content

-------------------------------------------------------------- */
/* 3.1 Site Structure */
.wrapper{
	width: 1230px;
	margin: 0 auto;
}

.row{
	overflow: auto;
}

#bg-aqua{
	height: 507px;
}
#col-1, #col-2, #col-3, #col-4, #col-5, #col-6, #col-7, #col-8, #col-9, #col-10, #c-1, #c-2, #c-3,#c-4, #c-5, #c-6, #c-7, #c-8, #c-9, #col-11, #col-12, #col-13{
	float: left;
	
}
#column-1, #column-2{
	float: right;
}
#col-2{
	width: 570px;
	margin-left: 10px;
}
#col-4, #col-5, #col-6{
	width: 293px;
}
#col-7, #col-8, #column-1, #column-2{
	width: 270px;
}
#col-9, #col-10{
	width: 470px;
}
#c-1, #c-2, #c-3, #c-4, #c-5, #c-6, #c-7, #c-8, #c-9{
	width: 100px;
}
#col-12, #col-13{
	margin: 10px 155px;
}
#col-11{
	width: 200px;
}
#col-12{
	width: 145px;
}
#col-13{
	width: 232px;
}
/*--------------------------------------------------------------

4.0 - Media

-------------------------------------------------------------- */
#bg-aqua{
	background: url(../img/hero.jpg) no-repeat 0 0;
}

#col-4{
	background: url(../img/product-one.png) no-repeat 0 0;
}
#col-5{
	background: url(../img/product-two.png) no-repeat 0 0;
}
#col-6{
	background: url(../img/product-three.png) no-repeat 0 0;
}




/*--------------------------------------------------------------

5.0 - Utility

-------------------------------------------------------------- */
/* 5.1 colors */

#bg-aqua{
	background-color: #a7e6e0;
	padding-top: 30px;
}
h1, #heading{
	color: #c92020;
}
#bg-pink{
	background-color: #fcbce8;
}
#bg-blue{
	background-color: #26adcf;
}